# CORE DEPENDENCIES
streamlit>=1.31.0
python-dotenv>=1.0.0
requests>=2.31.0
pandas>=2.2.0
numpy>=1.26.0
PyYAML>=6.0

# MACHINE LEARNING & MODELS
scikit-learn>=1.4
xgboost>=1.7
lightgbm>=4.1

# COMPUTER VISION & OCR
opencv-python-headless>=4.9.0
pillow>=9.5.0
easyocr>=1.7

# DATA VIZ
matplotlib>=3.7.0
seaborn>=0.12.2

# UTILITIES
tqdm>=4.66.0
python-json-logger>=2.0
altair>=5.0.0

# DEV / DEBUG (Optional)
pytest==8.3.5
ipykernel>=6.29
ipython>=8.20
pylint==3.3.7
jupyterlab>=4.0
notebook>=7.0
